/*       Source:  Local Cache                                                                 */
/*     Location:  rsrc:89134:/html/css/event.css                                              */
/*      Machine:  10.1.0.36                                                                   */
/*    Generated:  March 31st 2008 12:30:53 AM PDT                                             */

#content{padding:0px;}
#event.profile{background:url(/images/narrowrightbg.gif) repeat-y top right;margin-bottom:20px;}
#event.profile .left{width:396px;margin-bottom:-15px;padding-left:10px;}
#event.profile .thewall .fallback{margin-bottom:15px;}
#event.profile .wallpost .walltext{word-wrap:break-word;width:260px;}
#event.profile .right{width:200px;}
#event.profile .right .header{clear:both;}
#event.profile .other_info ul,
#event.profile .other_guests ul{padding:0px;margin:0px;}
#event.profile .other_info li,
#event.profile .other_guests li{margin:0px 0px 0px 1.5em;}
#event.profile .share_section{background:white;padding:0px 0px 11px;}
.profile .guestlist{padding-right:0px;}
.guestlist h2{font-size:10px;color:#3B5998;margin:0px;padding:0 0 2px 0;color:#3B5998;}
.guestlist h3{border-top:1px solid #D8DFEA;padding:2px;background:#F7F7F7;}
.guestlist .guests{margin:8px 0 0 0;padding:0px;}
.guestlist .see_all{float:right;font-size:9px;margin:0px;}
.guestlist .num_total{color:gray;float:left;font-size:9px;}
.profile .attendees{padding:0px }
.profile .attendees .fallback{margin-bottom:10px;}
#event.profile td .datawrap{width:270px;word-wrap:break-word;}
#event.profile .datawrap{width:370px;word-wrap:break-word;}
#rsvp_status_text{color:gray;font-weight:bold;margin:0px;padding:0px 0px 5px 0px;}
#rsvp_form div.rsvp_option{padding:2px 0px 3px 4px;}
#rsvp_form .inputradio{margin-right:5px;}
#rsvp_form label{color:black;font-weight:normal;}
#rsvp_form #rsvp{margin:8px 0px 0px 2px;}
.maps_arrow{position:relative;float:left;width:13px;margin:0px 0px 1px -1px;border-right:1px solid #fff;border-top:1px solid #fff;padding:2px 0px 0px 0px;height:16px;background:url(/images/down_arrow.gif) no-repeat 0px center;}
.maps_arrow:hover{background:#6D84B4 url(/images/down_arrow.gif) no-repeat -13px center;}
.maps_arrow span,
.maps_arrow_active span{text-indent:-99px;display:none;}
#global_maps_link{padding:2px 3px 3px 0px;border:solid 1px #ffffff;border-left:none;display:block;margin-right:2px;line-height:13px;}
#global_maps_link.active,
#global_maps_link.active:hover{padding-left:3px;position:relative;text-decoration:none;border:solid 1px #3b5998;background:#6D84B4;color:white;margin-right:1px;left:-1px;}
#maps_options_menu{z-index:5;padding:5px 0px;position:absolute;background:white;margin:-2px 0px 0px -1px;border:solid 1px #3B5998;}
#maps_options_menu a{display:block;color:#3b5998;width:95px;border-right:solid 1px white;border-left:solid 1px white;padding:1px 10px 4px;}
#maps_options_menu a:hover{text-decoration:none;background:#6D84B4;border-right:solid 1px #6d84b4;border-left:solid 1px #6d84b4;color:white;}
#maps_options_menu a img{margin-right:6px;position:relative;top:3px;}
